@font-face {
    font-family:"cursive";
    src: url(../../Fonts/EduVICWANTBeginner-VariableFont_wght.ttf);
}

@media (min-width:1305px){
    .bg{
        opacity:0.3;
        width:100%;
        height:100%;
        position:fixed;
        left:0;
        top:0;
        z-index:-3;
        background-image: url(../Images/background.jpg);

    }
    .left{
        z-index:1;
        position:relative;
        float:left;
        clear:right;
    }
    .right{
        z-index: 1;
        position:relative;
        float:right;
        clear:left;
    }
    img.left{
        z-index: 1;
        height:40vh;
        width:40vh;
        position:relative;
        float:left;
        clear:none;
    }
    img.right{
        z-index: 1;
        border-radius:50px 0px 50px 0px;
        height:300px;
        width:400px;
        object-fit:cover;
        position:relative;
        float:right;
        clear:none;
    }
    .mid{
        z-index: 1;
        text-align: center;
        width:max-content;
        position:relative;
        left:50%;
        transform:translate(-50%,0);
        clear:both; 
    }
    
    #face{
        z-index: 1;
        height:250px;
        width:250px;
        object-fit: cover;
        clip-path: circle(50.0% at 50% 50%);
    }
    
    .about{
        z-index:-1;
        width:33%;
        text-align: center;
        padding:10% 2% 5%;
        }
    .skills{
        z-index: -1;
        text-align:center;
        width:550px;
        height:40vh;
        line-height:70px;
    }
    .skills span{
        border-width:2px;
        border-style:dashed;
        border-color:blue;
        padding:15px;
        border-radius: 50px;
        
    }
    
    .form{
        width:30vw;
        padding:7%;
        border-width: 1px;
        border-radius: 50px;
        border-style:solid;
        clear:left;
        line-height:150%;
    }
    textarea{
        opacity: 0.5;;
        border-radius:20px;
        padding:7%;
        width:80%;
        line-height:100%;
    }
    .contact{
        z-index: 1;
        clear:none;
        line-height:100%;
        width:550px;
        text-align:center;
        vertical-align: middle;
    }
    .contact p{
        vertical-align: middle;
    }
    
    img{
        width:30px;
    }
    a{
        color:white;
    }
    a img:hover{
        width:40px;
    }
    .foot{
        z-index:1;
        position:fixed;
        bottom:0px;
        width:100%;
        text-align:center;
        background-color: black;
        color:white;
    }
    .foot a{
        margin:3em;
    }
    
    .full{
        padding:3% 10% 3%;
        overflow:auto;
    }
    body{
        font-family: cursive;
        color:aliceblue;
        margin:0;
        background-color: black;
    }
    #particles-js {
        width:100%;
        height:100%;
        position:fixed;
        top:0%;
        z-index: 0;
        opacity:1;
    }

    
}

@media (min-width:920px) and (max-width:1305px){
    .bg{
        opacity:0.3;
        
        width:100%;
        height:100%;
        position:fixed;
        left:0;
        top:0;
        z-index:-3;
        background-image: url(../Images/background.jpg);

    }
    .left{
        z-index: 1;;
        position:relative;
        float:left;
        clear:right;
    }
    .right{
        z-index: 1;
        position:relative;
        float:right;
        clear:left;
    }
    .mid{
        z-index: 1;
        text-align: center;
        width:max-content;
        position:relative;
        left:50%;
        transform:translate(-50%,0);
        clear:both; 
    }
    img.left{
        width:250px;
        position:relative;
        float:left;
        clear:none;
    }
    img.right{
        border-radius:50px 0px 50px 0px;
        height:250px;
        width:300px;
        object-fit:cover;
        position:relative;
        float:right;
        clear:none;
    }
    
    #face{
        
        height:250px;
        width:250px;
        object-fit: cover;
        clip-path: circle(50.0% at 50% 50%);
    }
    
    .about{
        width:33%;
        text-align: center;
        padding:5% 0% 10%;
        }
    
    .skills{
        padding:0px;
        margin:0px;
        text-align:center;
        width:330px;
        line-height:70px;
        
    }
    .skills h1{
        margin:0;
        line-height:100%;
    }
    .skills span{
        border-width:2px;
        border-style:dashed;
        border-color:blue;
        padding:15px;
        border-radius: 50px;
        
    }
    
    .form{
        padding:7%;
        border-width: 1px;
        border-radius: 50px;
        border-style:solid;
        clear:left;
        line-height:150%;
    }
    textarea{
        opacity: 0.5;
        border-radius:20px;
        padding:7%;
        width:80%;
        line-height:100%;
    }
    .contact{
        clear:none;
        line-height:100%;
        width:35%;
        text-align:center;
        vertical-align: middle;
    }
    .contact p{
        vertical-align: middle;
    }
    
    img{
        width:30px;
    }
    a{
        color:white;
    }
    a img:hover{
        width:40px;
    }
    .foot{
        z-index:1;
        position:fixed;
        bottom:0px;
        width:100%;
        text-align:center;
        background-color: black;
        color:white;
    }
    .foot a{
        margin:1em;
    }
    
    .full{
        padding: 5% 13% 10%;
        overflow:auto;
    }
    body{
        font-family: cursive;
        color:aliceblue;
        margin:0;
        background-color: black;
    }
    #particles-js {
        width:100%;
        height:100%;
        position:fixed;
        top:0%;
        z-index: 0;
        opacity:1;
    }
    
}

@media (min-width:645px) and (max-width:920px){
    .bg{
        opacity:0.3;
        width:100%;
        height:100%;
        position:fixed;
        left:0;
        top:0;
        z-index:-3;
        background-image: url(../Images/background.jpg);
        object-fit: contain;

    }
    .left{
        z-index: 1;
        position:relative;
        float:left;
        clear:right;
    }
    .right{
        position:relative;
        float:right;
        clear:left;
    }
    .mid{
        z-index: 1;
        text-align: center;
        width:max-content;
        position:relative;
        left:50%;
        transform:translate(-50%,0);
        clear:both; 
    }
    img.left{
        width:250px;
        position:relative;
        float:left;
        clear:none;
    }
    img.right{
        border-radius:50px 0px 50px 0px;
        height:250px;
        width:300px;
        object-fit:cover;
        position:relative;
        float:right;
        clear:none;
    }
    
    #face{
        height:250px;
        width:250px;
        object-fit: cover;
        clip-path: circle(50.0% at 50% 50%);
    }
    
    .about{
        width:33%;
        text-align: center;
        padding:5% 0% 10%;
        }
    
    .skills{
        padding:0px;
        margin:0px;
        text-align:center;
        width:330px;
        line-height:70px;
        
    }
    .skills h1{
        margin:0;
        line-height:100%;
    }
    .skills span{
        border-width:2px;
        border-style:dashed;
        border-color:blue;
        padding:15px;
        border-radius: 50px;
        
    }
    
    .form{
        padding:7%;
        border-width: 1px;
        border-radius: 50px;
        border-style:solid;
        clear:left;
        line-height:150%;
    }
    textarea{
        border-radius:20px;
        padding:7%;
        width:80%;
        line-height:100%;
    }
    .contact{
        z-index: 1;
        clear:none;
        line-height:100%;
        width:35%;
        text-align:center;
        vertical-align: middle;
    }
    .contact p{
        vertical-align: middle;
    }
    
    img{
        width:30px;
    }
    a{
        color:white;
    }
    a img:hover{
        width:40px;
    }
    .foot{
        z-index:1;
        position:fixed;
        bottom:0px;
        width:100%;
        text-align:center;
        background-color: black;
        color:white;
    }
    .foot a{
        margin:1em;
    }
    
    .full{
        padding: 5% 5% 10%;
        overflow:auto;
    }
    body{
        font-family: cursive;
        color:aliceblue;
        margin:0;
        background-color: black;
    }
    #particles-js {
        width:100%;
        height:100%;
        position:fixed;
        top:0%;
        z-index: 0;
        opacity:1;
    }
    
}

@media (min-width:401px) and (max-width:645px){
    .bg{
        opacity:0.3;
        width:100%;
        height:100%;
        position:fixed;
        left:0;
        top:0;
        z-index:-3;
        background-image: url(../Images/background.jpg);
        object-fit: contain;

    }
    .mid{
        z-index: 1;
        text-align: center;
        width:max-content;
        position:relative;
        left:50%;
        transform:translate(-50%,0);
        clear:both; 
    }
    img.left{
        visibility: hidden;
        width:0;
        height:0;
    }
    img.right{
        border-radius:50px 0px 50px 0px;
        visibility: hidden;;
        height:0px;
        width:0px;
    }
    
    #face{
        height:250px;
        width:250px;
        object-fit: cover;
        clip-path: circle(50.0% at 50% 50%);
    }
    
    .about{
        text-align: center;
        }
    
    .skills{
        position: relative;
        left:50%;
        transform:translate(-50%);
        width:350px;
        text-align:center;
        line-height:70px;
        
    }
    .skills span{
        border-width:2px;
        border-style:dashed;
        border-color:blue;
        padding:15px;
        border-radius: 50px;
        
    }
    
    .form{
        position: relative;
        z-index: 1;
        padding:7%;
        border-width: 1px;
        border-radius: 50px;
        border-style:solid;
        clear:left;
        line-height:150%;
    }
    textarea{
        opacity: 0.5;
        border-radius:20px;
        padding:7%;
        width:80%;
        line-height:100%;
    }
    .contact{
        z-index: 1;
        position: relative;
        line-height:100%;
        text-align:center;
        vertical-align: middle;
    }
    .contact p{
        vertical-align: middle;
    }
    
    img{
        width:30px;
    }
    a{
        color:white;
    }
    a img:hover{
        width:40px;
    }
    .foot{
        z-index:1;
        position:fixed;
        bottom:0px;
        width:100%;
        text-align:center;
        background-color: black;
        color:white;
    }
    .foot a{
        margin:1em;
    }
    
    .full{
        padding: 5% 10% 10%;
        overflow:auto;
    }
    body{
        font-family: cursive;
        color:aliceblue;
        margin:0;
        background-color: black;
    }
    #particles-js {
        width:100%;
        height:100%;
        position:fixed;
        top:0%;
        z-index: 0;
        opacity:1;
    }
    
}

@media (min-width:260px) and (max-width:400px){
    .bg{
        opacity:0.3;
        width:100%;
        height:100%;
        position:fixed;
        left:0;
        top:0;
        z-index:-3;
        background-image: url(../Images/background.jpg);
        object-fit: contain;

    }
    .mid{
        text-align: center;
        width:max-content;
        position:relative;
        left:50%;
        transform:translate(-50%,0);
        clear:both; 
    }
    .left img{
        width:200px;
        position:relative;
        float:right;
        clear:none;
    }
    img.left{
        visibility: hidden;
        width:0;
        height:0;
    }
    img.right{
        border-radius:50px 0px 50px 0px;
        visibility: hidden;;
        height:0px;
        width:0px;
    }
    #face{
        position:relative;
        z-index: 1;
        height:200px;
        width:200px;
        object-fit: cover;
        clip-path: circle(50.0% at 50% 50%);
    }
    
    .about{
        text-align: center;
        }
    
    .skills{
        position:relative;
        left:50%;
        transform:translate(-50%);
        width:245px;
        text-align:center;
        line-height:70px;
        
    }
    .skills span{
        border-width:2px;
        border-style:dashed;
        border-color:blue;
        padding:15px;
        border-radius: 50px;
        
    }
    
    .form{
        position: relative;
        z-index: 1;
        padding:7%;
        border-width: 1px;
        border-radius: 50px;
        border-style:solid;
        clear:left;
        line-height:150%;
    }
    textarea{
        opacity: 0.5;
        border-radius:20px;
        padding:7%;
        width:80%;
        line-height:100%;
    }
    .contact{
        z-index: 1;
        position: relative;
        line-height:100%;
        text-align:center;
        vertical-align: middle;
    }
    .contact p{
        vertical-align: middle;
    }
    
    img{
        width:30px;
    }
    a{
        color:white;
    }
    a img:hover{
        width:40px;
    }
    .foot{
        z-index:1;
        position:fixed;
        bottom:0px;
        width:100%;
        text-align:center;
        background-color: black;
        color:white;
    }
    
    
    .full{
        padding: 5% 2% 15%;
        overflow:auto;
    }
    body{
        font-family: cursive;
        color:aliceblue;
        margin:0;
        background-color: black;
    }
    #particles-js {
        width:100%;
        height:100%;
        position:fixed;
        top:0%;
        z-index: 0;
        opacity:1;
    }
    
}

@media (min-width:0px) and (max-width:260px){
    .bg{
        opacity:0.3;
        width:100%;
        height:100%;
        position:fixed;
        left:0;
        top:0;
        z-index:-3;
        background-image: url(../Images/background.jpg);
        object-fit: contain;

    }
    .mid{
        text-align: center;
        width:max-content;
        position:relative;
        left:50%;
        transform:translate(-50%,0);
        clear:both; 
    }
    .left img{
        width:200px;
        position:relative;
        float:right;
        clear:none;
    }
    img.left{
        visibility: hidden;
        width:0;
        height:0;
    }
    img.right{
        border-radius:50px 0px 50px 0px;
        visibility: hidden;;
        height:0px;
        width:0px;
    }
    #face{
        height:175px;
        width:175px;
        object-fit: cover;
        clip-path: circle(50.0% at 50% 50%);
    }
    
    .about{
        text-align: center;
        }
    
    .skills{
        position:relative;
        left:50%;
        transform:translate(-50%);
        width:240px;
        text-align:center;
        line-height:70px;
        
    }
    .skills span{
        border-width:2px;
        border-style:dashed;
        border-color:blue;
        padding:15px;
        border-radius: 50px;
        
    }
    
    .form{
        position: relative;
        z-index: 1;
        padding:7%;
        border-width: 1px;
        border-radius: 50px;
        border-style:solid;
        clear:left;
        line-height:150%;
    }
    textarea{
        opacity: 0.5;
        border-radius:20px;
        padding:7%;
        width:80%;
        line-height:100%;
    }
    .contact{
        z-index: 1;
        position: relative;
        line-height:100%;
        text-align:center;
        vertical-align: middle;
    }
    .contact p{
        vertical-align: middle;
    }
    
    img{
        width:30px;
    }
    a{
        color:white;
    }
    a img:hover{
        width:40px;
    }
    .foot{
        z-index:1;
        position:fixed;
        bottom:0px;
        width:100%;
        text-align:center;
        background-color: black;
        color:white;
    }
    
    
    .full{
        padding: 5% 1% 25%;
        overflow:auto;
    }
    body{
        font-family: cursive;
        color:aliceblue;
        margin:0;
        background-color: black;
    }
    #particles-js {
        width:100%;
        height:100%;
        position:fixed;
        top:0%;
        z-index: 0;
        opacity:1;
    }
    
}
